<%- include('header') %>

<img src="http://i.imgur.com/SJOtq6a.png" class="img-responsive center-block">
<form action="/login">
    <button type="submit" class="btn btn-success btn-block btn-lg">Sign in</button>
</form>
<form action="/register">
    <button type="submit" class="btn btn-success btn-block btn-lg">Sign up</button>
</form>
</body>
</html>