<%- include('header') %>

    <a href="/login" class="btn btn-success btn-block btn-lg">Sign in</a>
    <a href="/register" class="btn btn-success btn-block btn-lg">Sign up</a>

<%- include('footer') %>