<%- include('header') %>
<%- include('welcome') %>

<div class="my-container">
    <h3>Items:</h3>
    <form class="my-form">
        <div class="my-lineitem">
            <input class="my-name" type="text" value="Item 1">
            <input class="my-quantity" type="text" value="10">
            <input class="my-comment" type="text" value="Some comment">
            <input class="btn btn-success" type="submit" value="Save">
            <input class="btn btn-success" type="submit" value="Del">
        </div>
        <div>
            <input class="my-name" type="text" value="Item 2">
            <input class="my-quantity" type="text" value="5">
            <input class="my-comment" type="text" value="Some comment">
            <input class="btn btn-success" type="submit" value="Save">
            <input class="btn btn-success" type="submit" value="Del">
        </div>
    </form>
    <a class="btn btn-success btn-block btn-lg" href="lists.ejs">Back</a>
</div>

<%- include('footer') %>