<%- include('header') %>

<div>
    <img src="http://i.imgur.com/SJOtq6a.png" class="img-responsive center-block">
</div>
<h1 class="my-header">Welcome Shopping Person</h1>
<a href="index.ejs" class="my-logoff">Log off</a>
<div class="my-container">
    <h3>Items:</h3>
    <form class="my-form">
        <div class="my-lineitem">
            <input class="my-name" type="text" value="Item 1">
            <input class="my-quantity" type="text" value="10">
            <input class="my-comment" type="text" value="Some comment">
            <input class="btn btn-success" type="submit" value="Save">
            <input class="btn btn-success" type="submit" value="Del">
        </div>
        <div>
            <input class="my-name" type="text" value="Item 2">
            <input class="my-quantity" type="text" value="5">
            <input class="my-comment" type="text" value="Some comment">
            <input class="btn btn-success" type="submit" value="Save">
            <input class="btn btn-success" type="submit" value="Del">
        </div>
    </form>
    <a class="btn btn-success btn-block btn-lg" href="lists.ejs">Back</a>
</div>
</body>
</html>