<%- include('header') %>

<div class="col-md-4 col-xs-12 col-sm-6">
    <form action="lists.ejs">
        <div class="form-group">
            <label >Username:</label>
            <input type="text" class="form-control text-input" id="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control text-input" id="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control text-input" id="pwd" placeholder="Enter password" required>
        </div>
        <input type="submit" class="btn-block btn btn-success btn-lg" value="Sign up"><br/>
    </form>
    <div class="clearfix"></div>
    <a href="/" class="btn-block btn btn-success btn-lg">Back</a>
</div>

<%- include('footer') %>